:root {
    --outline-text-color: #eee;
    --accent-color: #b35642;
    --background-color: #111;
    --accent-background-color: #222;
}

body {
    background-color: var(--background-color);
    margin: 0
}

* {
    color: FloralWhite;
}

input, button {
    all: unset;
}

button {
    border: 2px solid var(--accent-color);
    border-radius: 2px;
    padding: 2px;
}